<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bg</title>
</head>
<body>
<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <td>ID</td>
        <td>活动名</td>
        <td>开启</td>
        <td>口令</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="act:${acts}">
        <td th:text="${act.id}">ID</td>
        <td th:text="${act.activityName}">activityName</td>
        <td th:text="${act.act_status == 0}?关闭:开启">status</td>
        <td th:text="${act.act_key}">key</td>
        <td>
            <a href="" th:href="@{/rewards/}+${act.id}" >礼品管理</a>
            <a href="" th:href="@{/actclose/}+${act.id}" >关闭活动</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>