<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bg</title>
</head>
<body>
<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <td>ID</td>
        <td>用户名</td>
        <td>活动名</td>
        <td>奖品名</td>
        <td>是否兑换</td>
        <td>中奖时间</td>
        <td>兑换时间</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="awardInfo:${awardInfos}">
        <td th:text="${awardInfo.id}">id</td>
        <td th:text="${awardInfo.username}">username</td>
        <td th:text="${awardInfo.act_name}">act_name</td>
        <td th:text="${awardInfo.reward_name}">reward_name</td>
        <td th:text="未兑换" th:if="${awardInfo.is_Cash == 0}">isCash</td>
        <td th:text="已兑换" th:if="${awardInfo.is_Cash == 1}">isCash</td>
        <td th:text="${#dates.format(awardInfo.winning_date, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${awardInfo.cashing_date}!=null?${#dates.format(awardInfo.cashing_date, 'yyyy-MM-dd HH:mm')}:未兑换"></td>
        <td>
            <button class="cashingBTN" th:attr="put_uri=@{/award/}+${awardInfo.id}" th:if="${awardInfo.is_Cash == 0}">兑换</button>
        </td>
    </tr>
    </tbody>
</table>
<!-- delete表单-->
<form id="cashingForm" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="act_id" th:value="${act_id}">
</form>
<script type="text/javascript" src="" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
<script>
    $cashingBTN = $(".cashingBTN");
    $cashingForm = $("#cashingForm");
    $cashingBTN.click(function () {
        $cashingForm.attr("action",$(this).attr("put_uri")).submit();
        return false;
    });
</script>
</body>
</html>