<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bg</title>
</head>
<body>
<a th:href="@{/rewardToAdd/}+${act_id}">增加礼品</a>
<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <td>ID</td>
        <td>礼品名</td>
        <td>总数</td>
        <td>剩余数</td>
        <td>中奖概率</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reward:${rewards}">
        <td th:text="${reward.id}">id</td>
        <td th:text="${reward.rewardName}">rewardName</td>
        <td th:text="${reward.total}">total</td>
        <td th:text="${reward.surplus}">surplus</td>
        <td th:text="${reward.probability}">probability</td>
        <td>
            <!-- get方式-->
            <a href="" th:href="@{/reward/}+${reward.id}">
                <button>Edit</button>
            </a>
            <!-- delete方式-->
            <button class="deleteBTN" th:attr="del_uri = @{/reward/}+${reward.id}">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
    <!-- delete表单-->
    <form id="deleteForm" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="act_id" th:value="${act_id}">
    </form>
    <script type="text/javascript" src="" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script>
        $deleteBTNs = $(".deleteBTN");
        $deleteForm = $("#deleteForm");
        $deleteBTNs.click(function () {
            $deleteForm.attr("action",$(this).attr("del_uri")).submit();
            return false;
        });
    </script>
</body>
</html>