<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bg</title>
</head>
<body>
<a th:href="@{/useradd/}+${act_id}"><button>增加客户</button></a>
<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr>
        <td>ID</td>
        <td>手机号</td>
        <td>总次数</td>
        <td>剩余次数</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.draw_times}">draw_times</td>
        <td th:text="${user.available_draw_times}">available_draw_times</td>
        <td>
            <!-- get方式-->
            <a href="" th:href="@{/user/}+${user.id}">
                <button>编辑</button>
            </a>
            <a href="" th:href="@{/award/}+${user.id}">
                <button>中奖情况</button>
            </a>
            <!-- delete方式-->
            <button class="deleteBTN" th:attr="del_uri = @{/user/}+${user.id}">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<!-- delete表单-->
<form id="deleteForm" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="act_id" th:value="${act_id}">
</form>
<script type="text/javascript" src="" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
<script>
    $deleteBTNs = $(".deleteBTN");
    $deleteForm = $("#deleteForm");
    $a = $("a");
    $a.css("text-decoration","none");
    $deleteBTNs.click(function () {
        $deleteForm.attr("action",$(this).attr("del_uri")).submit();
        return false;
    });
</script>
</body>
</html>