<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/pb_index.css}" />
    <meta charset="UTF-8">
    <title>pb</title>
</head>
<body >
        <div id="page_container">
        <p th:text="您好，+${user.username}"></p>
        <div class="plate">
            <div class="lottery">
            </div>
            <button class="drawBTN" th:attr="draw_uri = @{/draw}">

            </button>
        </div>

        <p th:text="您共有+${user.draw_times}+次抽奖机会"></p>
        <p>
            <span>您还剩下</span><span class="available_draw_times" th:text="${user.available_draw_times}"></span><span>次抽奖机会</span>
        </p>
        <a>获奖情况</a>
        <form id="drawForm" method="post" modelAttribute="user" action="/draw">
            <input type="hidden" name="id" th:value="${user.id}">
            <input type="hidden" name="act_id" th:value="${user.act_id}">
            <input type="hidden" class="available_draw_times" name="available_draw_times" th:value="${user.available_draw_times}">
            <input type="submit" value="submit">
        </form>
        </div>
        <script type="text/javascript" src="" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.rotate.js}"></script>
        <script type="text/javascript" th:src="@{/js/pb_index.js}"></script>
</body>
</html>