<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/pb_index.css}" />
    <meta charset="UTF-8">
    <title>pb</title>
</head>
<body>
        <p th:text="您好，+${user.username}"></p>
        <div class="plate">
            <div class="lottery">
            </div>
            <a class="drawBTN">

            </a>
        </div>

        <p th:text="您共有+${user.draw_times}+次抽奖机会"></p>
        <p th:text="您还剩下+${user.available_draw_times}+次抽奖机会"></p>
        <script type="text/javascript" src="" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.rotate.js}"></script>
        <script type="text/javascript" th:src="@{/js/pb_index.js}"></script>
</body>
</html>