#main_container
{
    background: url("../images/pb_login_head.jpg");
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 67%;
}
#foot {
    background: url("../images/pb_login_foot.jpg");
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 33%;
}

#loginForm {
    min-width: 100%;
}
#usr_lable {
    margin-top: 5%;
    margin-left: 15%;
    color: white;
}
#username {
    margin-left: 1%;
}
#psw_lable {
    margin-left: 15%;
    color: white;
}

#password {
    position: relative;
    margin-top: 4%;
    margin-left: 5%;
}
label {
    font-size: 15pt;
}
#submitBTN {
    background: url("../images/login_btn.png");
    background-size: 100% 100%;
    margin-top: 1%;
    margin-left: 30%;
    border-bottom: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    outline: none;
}
#button_holder {
    min-width: 160px;
    min-height: 50px;
}


