
#main_container
{
    background: url(../images/bottom_head.jpg) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 67%;
}
#foot {
    background: url(../images/bottom_foot.jpg) no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 33%;
}
.plate {
    background: url(../images/plate.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 30%;
}
#plate_holder {
    min-width: 255px;
}
.lottery{
    background-size: 100% 100%;
    position: relative;
    top: -57%;
    left: -2%;
    margin-left: 10%;
}
.drawBTN {
    background: url(../images/btn.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 25%;
    border: transparent;
    outline: none;
    position: relative;
    z-index: 999;
}
#btn_holder {
    min-width: 115px;
    min-height: 115px;
}

#award {
    margin-left: 35%;
}
.award-btn {
    margin-top: 10%;
}
#times_left {
    margin-left: 30%;
    font-size: 12pt;
    font-weight: 900;
}
span {
    color: rgb(28,132,198);
}

