#main_container
{
    background: url("../images/pb_login.jpg");
    background-size: 100% 100%;
    min-width: 320px;
    min-height: 485px;
}
input {
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM:transparent;
    BORDER-LEFT: transparent;
    BORDER-RIGHT: transparent;
    BORDER-TOP: transparent;
}

#password {
    margin-top: 6%;


}

#loginForm {
    margin-top: 102%;
    margin-left: 35%;
}
#submitBTN {
    BACKGROUND-COLOR: transparent;
    BORDER-BOTTOM:transparent;
    BORDER-LEFT: transparent;
    BORDER-RIGHT: transparent;
    BORDER-TOP: transparent;
    width: 110%;
    height: 80%;
    margin-left: -55%;
    margin-top: 5%;
    /*top: 80%;*/
    COLOR: transparent;
    /*border-color: #ffffff #ffffff #ffffff #ffffff; */
    font-size: 30pt;
}
input:focus{
    outline: none;
    background-color:transparent;
}